

.avatar{
    margin: 0 auto;
    top: 20px;
    border: solid 2px #fff;
    padding:2px;
    display:block;  
    border-radius: 50%;
    position:relative;
    height: 80px;
    width: 80px;
  
}
.avatar img{
    display:block;
    border-radius: 50%;
    height: 80px;
    width: 80px;
   
}
.avatar:before, .avatar:after{
    content:'';
    position:absolute;
    background:#fff;
    z-index:-1;
    

}
.avatar:before{
    height:4px;
    top:50%;
    left:2px; right:-5px;
    margin-top:-2px;
}
.avatar:after{
    width:4px;
    left:50%;
    top:2px; bottom:-5px;
    margin-left:-2px;
}